name: Docker Build & Push to GitHub Container Registry

on:
  workflow_call:
    inputs:
      actor:
        type: string
        required: true
        description: 'The actor that triggered the workflow'
      repository:
        type: string
        required: true
        description: 'The repository that triggered the workflow'
      ref_type:
        type: string
        required: true
        description: 'The type of the reference'
      ref_name:
        type: string
        required: true
        description: 'The name of the reference'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ inputs.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Build & Push
        env:
          IMAGE: ghcr.io/${{ inputs.repository }}
        run: |
          if [ "${{ inputs.ref_name }}" = "main" ]; then
              TAG=latest
          else
              TAG=${{ inputs.ref_name }}
          fi
          
          echo ${{ github.repository }}:$TAG
          
          docker pull $IMAGE:latest || :
          docker pull $IMAGE:$TAG || :
          
          docker build --pull --cache-from="$IMAGE:$TAG" --cache-from="$IMAGE:$TAG" --tag $IMAGE:$TAG .
          
          if [[ "${{ inputs.ref_name }}" = "main" || "${{ inputs.ref_name }}" = "master" ]]; then
              docker tag $IMAGE:$TAG $IMAGE:latest
          fi
          
          docker push $IMAGE
